html,
body {
  position: relative;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
}

main {
  font-size: 34px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 120px auto;
  width: calc(100% - 80px);
  min-height: calc(100vh - 240px);
  max-width: 1240px;
}
